* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-collor: var(--bg-collor)#FFFFFF;
    --text-collor: #000000;
    --main-collor:
}

body {
    background-color: #FFFFFF;
    color: var(--text-collor)
}

header {
    padding-top: 10vh;
    height: 10vh;
    position: fixed;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    background-color: PapayaWhip;
    border-bottom: 2px solid black;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-collor);
    font-size: 28px;
    font-weight: bold;
}

.logo i {
    font-size: 32px;
    margin-right: 5px;
}

.navegação {
    display: flex;
}

.navegação a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55 ease;
}

.navegação a:hover {
    color: #6b6200;
}

.header-icons {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 35px;
    color: var(--text-collor);
    z-index: 1001;
    cursor: pointer;
}

.header-icons i {
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5 ease;
}

.header-icons i:hover {
    transform: translateY(-5px);
    color: #6b6200;
}

#blocoinicio {
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 350px;
    display: grid;
    grid-template-columns: 2fr, 1fr;
    justify-content: center;
    gap: 2rem;
    background-color: #f8e406;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    width: 100px;
}

.livros-container {
    display: flex;
    justify-content: center;
}

.livro {
    width: 30%;
    padding: 1%;
    text-align: center;
}

.livro img {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin-top: 60px;
}

.headerContainer {
    text-align: center;
    padding-top: 10%;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    justify-content: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    background: PapayaWhip;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid black;
    height: 2.5rem;
}


.logo img {
    width: 80px;
    height: 60px;
}

.navigation ul,
.social-media ul {
    list-style-type: none;
    padding-left: 1%;
    justify-content: center;
}

.navigation li,
.social-media li {
    padding-bottom: 10px;
}

.navigation a,
.social-media a {
    color: #000000;
}

.fiquePorDentro {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15%;
    padding-top: 20%;
}

.formularioSobre {
    display: grid;
    align-items: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #6b6200;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #998c00;
}

.formularioSobre {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 10vh;
}

#blocosobre{
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 350px;
    display: grid;
    grid-template-columns: 2fr, 1fr;
    justify-content: center;
    gap: 2rem;
    background-color: #f8e406;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
}
#pageContainer {
    position: relative;
    min-height: 100vh;
  }

  #contentWrap {
    padding-bottom: 2.5rem;
  }

  .centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}